<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <nav class="nav flex-column">
                <a class="nav-link active fs-3" routerLink="/inicio/movimientos">Últimos Movimientos</a>
                <a class="nav-link " routerLink="/inicio/operaciones">Operaciones</a>
                <a class="nav-link " routerLink="/inicio/transacciones">Transacciones</a>
                <a class="nav-link " routerLink="/inicio/criptomoneda">Criptomoneda</a>
            </nav>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>